<h2>Resultados de la regi&oacute;n de {{ region.nombre_region }}:</h2>

<ul>
{% for candidato in region.candidato_set.all %}
    <li>{{ candidato.nombre }} -- {{ candidato.votos }} voto{{ candidato.votos|pluralize }}</li>
{% endfor %}
</ul>

<a href="{% url 'votacion:detalle' region.id %}">Votar de nuevo?</a>
<a href="{% url 'votacion:index'%}">Ver regiones</a>